:root {
  --text-primary: #333;
  --text-secondary: #777;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  color: rgb(104, 58, 58);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: #777;
}